examples/buffer-parser examples.json
[{"id":"41f790bf.85604","type":"inject","z":"c70ba4a4.e7fb58","name":"a buffer","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":920,"wires":[["67539a94.444c44","20342c2f.9cfa74","8f29c991.0d8f58","49029069.12b6f","bea5b918.19b688"]]},{"id":"49029069.12b6f","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"swap 16","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap16\"],\"resultType\":\"buffer\",\"msgProperty\":\"booboo.poopoo\"}}","specificationType":"json","x":920,"y":840,"wires":[["edf8e0d.4635d2"]]},{"id":"edf8e0d.4635d2","type":"debug","z":"c70ba4a4.e7fb58","name":"16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":840,"wires":[]},{"id":"7ebf7873.45cc78","type":"debug","z":"c70ba4a4.e7fb58","name":"32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":900,"wires":[]},{"id":"50393a41.63aee4","type":"debug","z":"c70ba4a4.e7fb58","name":"64","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":960,"wires":[]},{"id":"67539a94.444c44","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"swap 32","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap32\"],\"resultType\":\"buffer\",\"msgProperty\":\"booboo.poopoo\"}}","specificationType":"json","x":920,"y":900,"wires":[["7ebf7873.45cc78"]]},{"id":"20342c2f.9cfa74","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"swap 64","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap64\"],\"resultType\":\"buffer\",\"msgProperty\":\"booboo.poopoo\"}}","specificationType":"json","x":920,"y":960,"wires":[["50393a41.63aee4"]]},{"id":"8f29c991.0d8f58","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"swap 64 32 16","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap64\",\"swap32\",\"swap16\"],\"resultType\":\"buffer\",\"msgProperty\":\"booboo.poopoo\"}}","specificationType":"json","x":940,"y":1020,"wires":[["ba60442b.418c28"]]},{"id":"ba60442b.418c28","type":"debug","z":"c70ba4a4.e7fb58","name":"64 32 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":1020,"wires":[]},{"id":"bea5b918.19b688","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"none","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":false,\"resultType\":\"buffer\",\"msgProperty\":\"booboo.poopoo\"}}","specificationType":"json","x":910,"y":780,"wires":[["2c3ccc52.c62974"]]},{"id":"2c3ccc52.c62974","type":"debug","z":"c70ba4a4.e7fb58","name":"none","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":780,"wires":[]},{"id":"e30f78e3.497a48","type":"inject","z":"c70ba4a4.e7fb58","name":"an array","topic":"","payload":"[258,772,1286,1800,2314,2828,3342,3856]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":860,"wires":[["bea5b918.19b688","49029069.12b6f","67539a94.444c44","20342c2f.9cfa74","8f29c991.0d8f58"]]},{"id":"57e40f32.57d43","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"msg","x":1170,"y":100,"wires":[["a37c982f.8bee98"]]},{"id":"a37c982f.8bee98","type":"debug","z":"c70ba4a4.e7fb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":160,"wires":[]},{"id":"519bc94a.b4ac98","type":"inject","z":"c70ba4a4.e7fb58","name":"Pass data in as buffer","topic":"","payload":"[97,98,99,100,101,102,103,104,105,106,107,108,109,109,111,112,113,114,115,116,117,118,119,120,121,122]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":100,"wires":[["8fd47ac8.6022b8"]]},{"id":"eaa6c030.9929a","type":"function","z":"c70ba4a4.e7fb58","name":"dynamically set data","func":"msg.payload = [0x6162, 0x6364, 0x6566, 0x6768, 0x696A, 0x6B6C, 0x6D6D, 0x6F70, 0x7172, 0x7374, 0x7576, 0x7778, 0x797A]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["8fd47ac8.6022b8"]]},{"id":"685377c.6a42088","type":"inject","z":"c70ba4a4.e7fb58","name":"just a trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":160,"wires":[["eaa6c030.9929a"]]},{"id":"8fd47ac8.6022b8","type":"function","z":"c70ba4a4.e7fb58","name":"dynamically set spec","func":"msg.spec = {\n    \"options\":\n    {\n        \"byteSwap\":true,\n        \"resultType\":\"object\",\n        \"singleResult\": true\n    },\n    \"items\":[\n        {\"name\":\"myInt\",\"type\":\"int\",\"offset\":4},{\"name\":\"uint32s\",\"type\":\"uint32\",\"offset\":0,\"length\":4},{\"name\":\"floats\",\"type\":\"float\",\"offset\":0,\"length\":4},{\"name\":\"doubles\",\"type\":\"double\",\"offset\":0,\"length\":2},{\"name\":\"myString\",\"type\":\"string\",\"offset\":0,\"length\":5}\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":100,"wires":[["57e40f32.57d43"]]},{"id":"5fcbd3ad.d5e95c","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap16\"],\"resultType\":\"value\",\"singleResult\":false,\"msgProperty\":\"payload\"},\"items\":[{\"name\":\"plc1/production/alphabet\",\"type\":\"string\",\"offset\":0,\"length\":26},{\"name\":\"plc1/production/status/count\",\"type\":\"int\",\"offset\":25},{\"name\":\"plc1/production/status/sequence\",\"type\":\"bcd\",\"offset\":4},{\"name\":\"plc1/machine/status/runner/temperature\",\"type\":\"int16le\",\"offset\":26},{\"name\":\"plc1/machine/status/runner/speed\",\"type\":\"int16be\",\"offset\":26},{\"name\":\"plc1/machine/status/running\",\"type\":\"bool\",\"offset\":0,\"offsetbit\":0},{\"name\":\"plc1/machine/status/warning\",\"type\":\"bool\",\"offset\":0,\"offsetbit\":1},{\"name\":\"plc1/machine/status/fault\",\"type\":\"bool\",\"offset\":0,\"offsetbit\":2}]}","specificationType":"json","x":930,"y":280,"wires":[["89fa46b4.411538"]]},{"id":"89fa46b4.411538","type":"debug","z":"c70ba4a4.e7fb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":280,"wires":[]},{"id":"8d39e2b6.82ff4","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap16\"],\"resultType\":\"object\",\"singleResult\":true,\"msgProperty\":\"data\"},\"items\":[{\"name\":\"alphabet\",\"type\":\"string\",\"offset\":0,\"length\":26},{\"name\":\"single byte pos 4\",\"type\":\"int\",\"offset\":4},{\"name\":\"bcd equiv\",\"type\":\"bcd\",\"offset\":4,\"length\":5},{\"name\":\"Array[6] of int16le\",\"type\":\"int16le\",\"offset\":26,\"length\":6},{\"name\":\"Array[6] of int16be\",\"type\":\"int16be\",\"offset\":26,\"length\":6},{\"name\":\"32 bools\",\"type\":\"bool\",\"offset\":0,\"length\":32},{\"name\":\"Array[4] of 16bits\",\"type\":\"16bit\",\"offset\":0,\"length\":4}]}","specificationType":"json","x":930,"y":360,"wires":[["4d7a1094.25f39"]]},{"id":"4d7a1094.25f39","type":"debug","z":"c70ba4a4.e7fb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","x":1160,"y":360,"wires":[]},{"id":"1f38bfbf.d7229","type":"inject","z":"c70ba4a4.e7fb58","name":"Fake PLC data 16bit Array","topic":"","payload":"[25185,25699,26213,26727,27241,27755,28013,28783,29297,29811,30325,30839,31353,256,512,768,1024,1280,1536,1792,2048,2304,2560,2816,3072,3597]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":280,"wires":[["5fcbd3ad.d5e95c"]]},{"id":"73b18844.726b08","type":"inject","z":"c70ba4a4.e7fb58","name":"Fake PLC data 16bit Array","topic":"","payload":"[25185,25699,26213,26727,27241,27755,28013,28783,29297,29811,30325,30839,31353,256,512,768,1024,1280,1536,1792,2048,2304,2560,2816,3072,3597]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":360,"wires":[["8d39e2b6.82ff4"]]},{"id":"6561ba14.6c15a4","type":"comment","z":"c70ba4a4.e7fb58","name":"take a array of 16bit values, byte reverse, split out several values and transmit individual messages with topic + payload","info":"","x":980,"y":240,"wires":[]},{"id":"f607b3c1.b90e1","type":"comment","z":"c70ba4a4.e7fb58","name":"take a array of 16bit values, byte reverse, split out several values and transmit one message with named objects in msg.data","info":"","x":1000,"y":320,"wires":[]},{"id":"b1dfd045.c1406","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":true,\"resultType\":\"array\",\"singleResult\":true,\"msgProperty\":\"payload\"},\"items\":[{\"name\":\"alphabet\",\"type\":\"string\",\"offset\":0,\"length\":26},{\"name\":\"float BE from byte4\",\"type\":\"floatbe\",\"offset\":4},{\"name\":\"float LE from byte4\",\"type\":\"floatle\",\"offset\":4},{\"name\":\"32 bools\",\"type\":\"bool\",\"offset\":0,\"length\":32},{\"name\":\"Array[4] of 16bits\",\"type\":\"16bit\",\"offset\":0,\"length\":4}]}","specificationType":"json","x":930,"y":460,"wires":[["8c0ef198.2154b"]]},{"id":"8c0ef198.2154b","type":"debug","z":"c70ba4a4.e7fb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":460,"wires":[]},{"id":"650186b2.3c71c8","type":"inject","z":"c70ba4a4.e7fb58","name":"Fake PLC data  buffer","topic":"","payload":"[98,97,100,99,102,101,104,103,106,105,108,107,110,109,112,111,114,113,116,115,118,117,120,119,122,121]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":460,"wires":[["b1dfd045.c1406"]]},{"id":"7a249526.dd089c","type":"comment","z":"c70ba4a4.e7fb58","name":"take a buffer, byte reverse, split out several values and transmit one message as array of objects in msg.payload","info":"","x":960,"y":420,"wires":[]},{"id":"a5aae775.7a4be8","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":true,\"resultType\":\"value\",\"singleResult\":true,\"msgProperty\":\"payload\"},\"items\":[{\"name\":\"alphabet\",\"type\":\"string\",\"offset\":0,\"length\":26},{\"name\":\"float BE from byte4\",\"type\":\"floatbe\",\"offset\":4},{\"name\":\"float LE from byte4\",\"type\":\"floatle\",\"offset\":4},{\"name\":\"32 bools\",\"type\":\"bool\",\"offset\":0,\"length\":32},{\"name\":\"Array[4] of 16bits\",\"type\":\"16bit\",\"offset\":0,\"length\":4}]}","specificationType":"json","x":930,"y":560,"wires":[["2be403e9.a8589c"]]},{"id":"2be403e9.a8589c","type":"debug","z":"c70ba4a4.e7fb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":560,"wires":[]},{"id":"f91b2aee.b1f788","type":"inject","z":"c70ba4a4.e7fb58","name":"Fake PLC data  buffer","topic":"","payload":"[98,97,100,99,102,101,104,103,106,105,108,107,110,109,112,111,114,113,116,115,118,117,120,119,122,121]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":560,"wires":[["a5aae775.7a4be8"]]},{"id":"2979a3f7.e44dbc","type":"comment","z":"c70ba4a4.e7fb58","name":"take a buffer, split out several values and transmit one message as values in msg.payload","info":"","x":890,"y":520,"wires":[]},{"id":"587db710.e62ea8","type":"comment","z":"c70ba4a4.e7fb58","name":"Dynamically set data and spec","info":"","x":700,"y":60,"wires":[]},{"id":"9fcc73dd.f0f2e","type":"inject","z":"c70ba4a4.e7fb58","name":"an array","topic":"","payload":"[258,772,1286,1800,2314,2828,3342,3856]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":660,"wires":[["fcf32c76.88235"]]},{"id":"fcf32c76.88235","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"none","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":false,\"resultType\":\"buffer\",\"msgProperty\":\"payload\"}}","specificationType":"json","x":910,"y":660,"wires":[["a7045d88.cf62a"]]},{"id":"a7045d88.cf62a","type":"debug","z":"c70ba4a4.e7fb58","name":"buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":660,"wires":[]},{"id":"6541e47e.082ebc","type":"comment","z":"c70ba4a4.e7fb58","name":"Convert an array of integer to a buffer only","info":"","x":740,"y":620,"wires":[]},{"id":"df2d1c3a.f25cc","type":"comment","z":"c70ba4a4.e7fb58","name":"Convert an array or buffer to a buffer, do various swaps (sometimes multiple swaps), output only the buffer","info":"","x":940,"y":740,"wires":[]},{"id":"54af32b6.33b3cc","type":"inject","z":"c70ba4a4.e7fb58","name":"an array","topic":"","payload":"[258,772,1286,1800,2314,2828,3342,3856]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1160,"wires":[["6345e997.7ad538"]]},{"id":"d4fa8be5.daf488","type":"debug","z":"c70ba4a4.e7fb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":1160,"wires":[]},{"id":"f0a77aad.cf57a8","type":"comment","z":"c70ba4a4.e7fb58","name":"Dealing with BigInt. NOTE: At the time of writing, node-red debug node cannot handle BigInt.","info":"","x":920,"y":1120,"wires":[]},{"id":"6345e997.7ad538","type":"buffer-parser","z":"c70ba4a4.e7fb58","name":"","data":"payload","dataType":"msg","specification":"{\"options\":{\"byteSwap\":[\"swap16\"],\"resultType\":\"object\",\"singleResult\":true,\"msgProperty\":\"bigValues\"},\"items\":[{\"name\":\"bigint64le\",\"type\":\"bigint64le\",\"offset\":0},{\"name\":\"bigint64be\",\"type\":\"bigint64be\",\"offset\":0}]}","specificationType":"json","x":830,"y":1160,"wires":[["1611bff.5c6604"]]},{"id":"1611bff.5c6604","type":"function","z":"c70ba4a4.e7fb58","name":"Parse BigInts","func":"msg.payload = {\n    bigint64le_string : msg.bigValues.bigint64le.value.toString(),\n    bigint64le_number : Number(msg.bigValues.bigint64le.value),\n    bigint64le_parseInt : parseInt(msg.bigValues.bigint64le.value),\n    bigint64be_string : msg.bigValues.bigint64be.value.toString(),\n    bigint64be_number : Number(msg.bigValues.bigint64be.value),\n    bigint64be_parseInt : parseInt(msg.bigValues.bigint64be.value),\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1160,"wires":[["d4fa8be5.daf488","9322704f.0f4e7"]]},{"id":"9322704f.0f4e7","type":"debug","z":"c70ba4a4.e7fb58","name":"full object (this might throw error)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1100,"y":1220,"wires":[]}]