examples/buffer-maker examples.json
[{"id":"791a95ae.26555c","type":"buffer-maker","z":"a9fbaedc.8f9c1","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"name":"item1","type":"ascii","length":8,"dataType":"str","data":"abcdefgh"},{"name":"item2","type":"uint16le","length":1,"dataType":"msg","data":"payload.anumber"},{"name":"item3","type":"uint16le","length":1,"dataType":"msg","data":"payload.anarray"},{"name":"item4","type":"biguint64le","length":1,"dataType":"str","data":"123456"},{"name":"item5","type":"8bit","length":1,"dataType":"msg","data":"payload.a8bit"},{"name":"item6","type":"16bitle","length":1,"dataType":"msg","data":"payload.a16bit"},{"name":"item7","type":"bool","length":1,"dataType":"msg","data":"payload.bools"},{"name":"bcd1","type":"bcdle","length":2,"dataType":"jsonata","data":"[1234,2345]"},{"name":"bcd2","type":"bcdbe","length":1,"dataType":"num","data":"5678"},{"name":"item8","type":"hex","length":-1,"dataType":"msg","data":"payload.hexstring"}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","x":330,"y":960,"wires":[["fe3067d4.300288","a08cf05c.aea2"]]},{"id":"ca252362.2b25d","type":"inject","z":"a9fbaedc.8f9c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"spec","v":"{\"options\":{\"byteSwap\":[\"swap16\"],\"msgProperty\":\"payload\"},\"items\":[{\"name\":\"item1\",\"type\":\"ascii\",\"length\":8,\"dataType\":\"str\",\"data\":\"abcdefgh\",\"value\":\"abcdefgh\"},{\"name\":\"item2\",\"type\":\"uint16le\",\"length\":1,\"dataType\":\"msg\",\"data\":\"payload.anumber\",\"value\":123},{\"name\":\"item3\",\"type\":\"uint16le\",\"length\":1,\"dataType\":\"msg\",\"data\":\"payload.anarray\"},{\"name\":\"item4\",\"type\":\"biguint64le\",\"length\":1,\"dataType\":\"str\",\"data\":\"123456\"},{\"name\":\"item5\",\"type\":\"8bit\",\"length\":1,\"dataType\":\"msg\",\"data\":\"payload.a8bit\"},{\"name\":\"item6\",\"type\":\"16bitle\",\"length\":1,\"dataType\":\"msg\",\"data\":\"payload.a16bit\"},{\"name\":\"item7\",\"type\":\"bool\",\"length\":1,\"dataType\":\"msg\",\"data\":\"payload.bools\"},{\"name\":\"item8\",\"type\":\"hex\",\"length\":-1,\"dataType\":\"msg\",\"data\":\"payload.hexstring\"}]}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"astring\":\"hello\",\"anumber\":123,\"anarray\":[1,2,3,4,5,6,7,8,9,10],\"a8bit\":[[1,1,1,0,0,0,1,0]],\"a16bit\":[[true,true,true,0,0,0,1,0,0,0,0,1,1,1,0,1]],\"bools\":[1,0,0,1,false,false,true,true],\"hexstring\":\"0102030405060708\"}","payloadType":"json","x":150,"y":960,"wires":[["791a95ae.26555c","bd497a1e.4aff58"]]},{"id":"fe3067d4.300288","type":"debug","z":"a9fbaedc.8f9c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1020,"wires":[]},{"id":"a08cf05c.aea2","type":"buffer-parser","z":"a9fbaedc.8f9c1","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"item1","offset":0,"length":8,"offsetbit":0,"scale":1,"mask":""},{"type":"int16le","name":"item2","offset":8,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"int16le","name":"item3","offset":10,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"biguint64le","name":"item4","offset":12,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"8bit","name":"item5","offset":20,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"16bitle","name":"item6","offset":21,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"bool","name":"item7","offset":23,"length":8,"offsetbit":0,"scale":1,"mask":""},{"type":"bcdle","name":"bcd1","offset":24,"length":2,"offsetbit":8,"scale":1,"mask":""},{"type":"bcdbe","name":"bcd2","offset":28,"length":1,"offsetbit":8,"scale":1,"mask":""},{"type":"hex","name":"item8","offset":29,"length":-1,"offsetbit":8,"scale":1,"mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"setTopic":true,"x":570,"y":960,"wires":[["64289929.b60d78"]]},{"id":"64289929.b60d78","type":"debug","z":"a9fbaedc.8f9c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1020,"wires":[]},{"id":"bd497a1e.4aff58","type":"buffer-maker","z":"a9fbaedc.8f9c1","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"msg","items":[{"name":"item1","type":"ascii","length":8,"dataType":"str","data":"abcdefgh"},{"name":"item2","type":"uint16le","length":1,"dataType":"msg","data":"payload.anumber"},{"name":"item3","type":"uint16le","length":1,"dataType":"msg","data":"payload.anarray"},{"name":"item4","type":"biguint64le","length":1,"dataType":"str","data":"123456"},{"name":"item5","type":"8bit","length":1,"dataType":"msg","data":"payload.a8bit"},{"name":"item6","type":"16bitle","length":1,"dataType":"msg","data":"payload.a16bit"},{"name":"item7","type":"bool","length":1,"dataType":"msg","data":"payload.bools"}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","x":330,"y":1120,"wires":[["fd9977f7.520068","f32e8db7.9554a"]]},{"id":"fd9977f7.520068","type":"debug","z":"a9fbaedc.8f9c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1180,"wires":[]},{"id":"f32e8db7.9554a","type":"buffer-parser","z":"a9fbaedc.8f9c1","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"item1","offset":0,"length":8,"offsetbit":0,"scale":1,"mask":""},{"type":"int16le","name":"item2","offset":8,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"int16le","name":"item3","offset":10,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"biguint64le","name":"item4","offset":12,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"8bit","name":"item5","offset":20,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"16bitle","name":"item6","offset":21,"length":1,"offsetbit":0,"scale":1,"mask":""},{"type":"bool","name":"item7","offset":23,"length":8,"offsetbit":0,"scale":1,"mask":""},{"type":"hex","name":"item8","offset":24,"length":-1,"offsetbit":8,"scale":1,"mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"setTopic":true,"x":570,"y":1120,"wires":[["d1a9924.18b1e7"]]},{"id":"d1a9924.18b1e7","type":"debug","z":"a9fbaedc.8f9c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":1180,"wires":[]},{"id":"89881af3.d907c8","type":"comment","z":"a9fbaedc.8f9c1","name":"Convert values to a buffer then back again (UI Spec)","info":"","x":450,"y":920,"wires":[]},{"id":"213d42e.e087cbe","type":"comment","z":"a9fbaedc.8f9c1","name":"Convert values to a buffer then back again (msg.spec)","info":"","x":460,"y":1080,"wires":[]}]